/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */

.span {
  font-family: dingding, sans-serif;
  text-align: center;
  margin-left: 200px;
  margin-top: 10px; /* 上边界 */
  font-size: 0.6rem;
  color: #999;
  display: inline-block;
  padding-left: 0.3rem;

  /* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
}


.menuNav {
  margin-right: 10px;
  background-color: transparent;
}


.row{
  background-color: transparent;
}

.slog{
  font-family: "阿氿的少女心";
  font-size: 60px;
  border: #37FF8B;
  color: #86c7d1;
  font-weight: 300;
  justify-self: center;
  display: flex;
  margin-left: 10%;
  pointer-events: none;
}

