@font-face {
    font-family: '钟齐安景臣硬笔行书';
    src: url("./钟齐安景臣硬笔行书.TTF");
    font-display: swap;
    font-size: large;
}

@font-face {
    font-family: '斗鱼追光体';
    font-weight: 500;
    src: url("./斗鱼追光体2.0.ttf");
    font-display: swap;
}

@font-face {
    font-family: '【落落补】落落の汤圆';
    font-weight: 500;
    src: url("./斗鱼追光体2.0.ttf");
    font-display: swap;
}
