@import "@/global.less";

.homeTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  animation: down 0.8s ease-in-out both;

  .proverbs {
    position: absolute;
    top: 18%;
    left: 10%;
    color: #fff;
    width: 30%;
    //font-family: 斗鱼追光体;
    transform: translateX(-100%);
    //animation: popup 1s ease-out forwards;
    animation: popLeft 1.3s ease-out forwards;

    p {
      &:nth-child(1) {
        font-size: 1.5rem;
      }

      &:nth-child(2) {
        font-size: 1rem;
      }

      &:nth-child(3) {
        font-size: 0.7rem;
      }
    }
  }

  .welcome {
    position: absolute;
    margin: auto;
    //font-family: 阿氿的少女心;
    // font-family: "Comic Sans MS", cursive;
    font-size: 2.5rem;
    filter: invert(100%);
    text-shadow: 0 0 2px black;
    color: #7fc1d2;
    animation: popup 1.5s ease-in-out forwards;
    //transform: translateY(100%);
  }
}


.author {
  width: 80%;
}

.post {
  width: 80%;
  margin-bottom: 20px;
  animation: slideInUp 1s ease-in-out both;
}


.homeBody {
  margin-top: 100px;
  //animation: slideInUp 1s ease-out both;
}

.proCardList {
  background-color: transparent;
  margin-right: 100px;
}


.slide {
  object-fit: cover;
}


@keyframes popup {
  0% {
    transform: translateY(100%);
    opacity: 0.3;
    scale: 0.2;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
    scale: 1;
  }
}

@keyframes popLeft {
  0% {
    transform: translateX(-100%) rotate(0deg);
    opacity: 0.3;
  }
  50% {
    transform: translateX(0%) rotate(90deg);
    opacity: 0.8;
  }
  100% {
    transform: translateX(0%) rotate(0deg);
    opacity: 1;
  }
}


//媒体查询
@media screen and (max-width: 1200px) {
  .homeTop {
    .proverbs {
      width: 50%;
      left: 5%;
      p{
        &:nth-child(1) {
          font-size: 1.2rem;
        }
        &:nth-child(2) {
          font-size: 0.8rem;
        }
        &:nth-child(3) {
          font-size: 0.5rem;
        }
      }
    }
  }
}
