.topOut{
  //背景图片
  background-image: url("@/assets/home1.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  //内部居中
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  .back{
    position: absolute;
   // top: 20px;
    left: 20px;
   // color: #fff;
    font-size: 20px;
    cursor: pointer;
  }


  .topIn{
    // background-color: #37FF8B;
    height: 100px;
    text-align: center;
    // width: 100px;
    p{
      font-size: 20px;
      color: #fff;
      margin-bottom: 0;
    }
    span{
      margin-right: 15px;
    }
  }
}
