


.essay{
  background: linear-gradient(135deg, #ebadb6 0%, #aceae1 100%);
  border-radius: 10px;
  .container{
    //min-height: 300px;
    //min-width: 500px;
    // background-color: black;
    //width: 300px;
    //background-color: red;
    //display: flex;
    //width: 800px;
    //box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
    padding: 5px;
    display: grid;
    grid-template-columns: 5fr 1fr;
    .ikon{
      //margin-left: auto;

      //margin-right: 10px;
    }
    .saying{
      padding: 10px;
      white-space: pre-line;
    }

    .img{
      margin: 10px;
    }
  }



}
