@import "../public/font/font.css";

.myFont {
  font-family: '钟齐安景臣硬笔行书';
  font-size: 500px;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 20px;
  animation: 50s;
}

* {
  font-family: 'Comic Sans MS', 'Open Sans', "Comic Sans", cursive;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #99a9bf;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #d3dce6;
}


@keyframes slideInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
    scale: 0.2;
  }

  30% {
    transform: translateY(-10%);
    opacity: 0.1;
    scale: 0.7;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    scale: 1;
  }
}


@keyframes down {
  0% {
    transform: translateY(-30%);
    opacity: 0.3;
    scale: 0.8;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
    scale: 1;
  }
}

